header.main-header {
    position: fixed;
    background-image: linear-gradient(to right, black, red, black);
    display: inline;
    height: 70px;
    width: 100%;
    align-items: center;
    color: #fff;
    text-shadow: #000 0 0 .2em;
    text-align: center;
    margin-top: 0;
    z-index: 3;
}

.h-hmenu {
    list-style-type: none;
    margin-right: 20px;
    padding: 0;
    overflow: hidden;
}

.hmenu-item {
    display: inline;
    float: right;
}

.hmenu-item a {
    display: block;
    color: #fff;
    text-align: center;
    padding: 10px 10px;
    text-decoration: none;
}

.hmenu-item a:hover {
    background-color: black;
    color: rgba(0, 255, 0);
}

.slogan {
    position: sticky;
    position: -webkit-sticky;
    height: 70vh;
    text-align: center;
    background-image: linear-gradient(black 2%, red, white);
    background-size: cover;
    background-position: top 140px center;
    background-position-x: center;
    background-position-y: top 25%;
    display: flex;
    justify-content: center;
    z-index: -1;
}

@media screen and (max-width: 930px) {

    .slogan,
    .tag-h1,
    .txt-grad,
    .tag-h4,
    .xtras {
        width: 100%;
    }
}


.slogan .tag-h1 {
    letter-spacing: .0001px;
    color: white;
    font-weight: 1px;
    z-index: 1;
    line-height: 1;
    margin-top: 170px;
    float: left;
    margin-bottom: 0px;
    display: block;
    font-size: 90px;
    padding-right: 100px;
    border-right: 2px solid rgb(0, 255, 0);
    border-radius: 20px;
    height: 350px;
}

.slogan .tag-h4 {
    letter-spacing: .0001px;
    color: white;
    font-weight: 1px;
    z-index: 1;
    line-height: 1;
    margin-top: 170px;
    margin-right: 10px;
    margin-bottom: 0px;
    display: block;
    font-size: 90px;
    height: 350px;
    border-left: 2px solid rgb(0, 255, 0);
    border-radius: 20px;
    padding-left: 100px;
}

.txt-grad {
    color: #fff;
}

.xtras {
    position: -webkit-sticky;
    position: sticky;
    background-image: linear-gradient(to right, black, gray);
    color: white;
    font-size: 12px;
    height: 200px;
    opacity: 1;
}

.xtras ul {
    list-style-type: none;
}

.xtras li {
    padding: 10px;
}

.xtras a {
    color: #fff;
    text-decoration: none;
    font-size: 20px;
}

.xtras a:hover {
    color: rgba(0, 255, 0);
}

footer {
    background-color: gray;
}

/* Player styling*/

.plyr {
    background-color: lightgreen;
    transition: background-color .5s;
}

.player {
    height: 95vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.details {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin-top: 25px;
}

.track-art {
    margin: 25px;
    height: 250px;
    width: 250px;
    background-image: url("flag.jpeg");
    background-size: cover;
    background-position: center;
    border-radius: 15%;
}

.now-playing {
    font-size: 1rem;
}

.track-name {
    font-size: 3rem;
}

.track-artist {
    font-size: 1.5rem;
}

.buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.playpause-track,
.prev,
.next {
    opacity: 1.0;
}

.slider-container {
    width: 75%;
    max-width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.seek-slider {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    height: 5px;
    background: black;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.seek-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    background: white;
    cursor: pointer;
    border-radius: 100%;
}

.seek-slider:hover {
    opacity: 1.0;
}

.seek-slider {
    width: 100%;
}

.current-time,
.duration {
    padding: 10px;
}

img.fa-play-circle,
img.fa-pause-circle,
img.fa-step-forward,
img.fa-step-backward {
    cursor: pointer;
    width: 50px;
    height: 50px;
}


/*zeus redo*/