.fixed-header {
    background-image: linear-gradient(to right, black, red, black);

}

.h-hmenu {
    list-style-type: none;
    margin-right: 20px;
    padding: 0;
    overflow: hidden;
}

.hmenu-item {
    display: inline;
    float: right;
}

.hmenu-item a {
    display: block;
    color: #fff;
    text-align: center;
    padding: 10px 10px;
    text-decoration: none;
}

.hmenu-item a:hover {
    background-color: black;
    color: rgba(0, 255, 0);
}


.slogan {
    background-image: linear-gradient(black, red, white 100%);
    padding-top: 10px;
    overflow: hidden;
    display: flex;
    height: max-height;
}

.left {
    width: max-width;
    border: 2px solid rgb(0, 255, 0);
    border-radius: 25px;
    height: auto;
}


.slogan-h1 {
    font-size: 35px;
    text-align: center;
    justify-content: center;
    font-weight: 1px;
    line-height: 1;
    letter-spacing: 0.0001px;
    color: white;
    width: 100%;
}


@media screen and (min-width:670px) {

    .right,
    .left {}
}

.misc {
    width: max-width;
    height: auto;
    background-image: linear-gradient(to right, black, white);
    margin-left: 0;
    margin-right: 0;
}

.footer {
    background-color: gray;
}
